
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success</title>
</head>
<body>
    <div>
        <h2>OTP Verification Successful</h2>
        <p>OTP has been verified successfully.</p>
    </div>
</body>
</html>
