@model OTPPROJECT.Models.OTPModel

@{
    ViewBag.Title = "VerifyOTP";
}

<h2>VerifyOTP</h2>

@*@model string*@

@using (Html.BeginForm())
{
    @Html.Label("Enter OTP:")
    @Html.TextBox("otp")
    @Html.ValidationMessage("OTP")

    <input type="submit" value="Verify OTP" />
}